/*FONT*/

@font-face {
    font-family: 'godofwarregular';
    src: url('../font/godofwar-webfont.woff2') format('woff2'),
         url('../font/godofwar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*GENERAL*/

body {
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	background-color: #F5F5F5;
	height: 100%;
}

h1 {
	font-family: 'godofwarregular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align: justify;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 48px;
    text-align: center;
}

h2 {
	font-family: 'godofwarregular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align: justify;
	font-size: 32px;
}

h4 {
	font-family: 'godofwarregular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align: justify;
}


p {
	font-family: 'godofwarregular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align: justify;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 18px;
}

a {
	font-family: 'godofwarregular', Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	text-align: justify;
}



/*SPECIFIC*/

.iphone {
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    padding-top: 0%;
}

.appstore {
	width: 35%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 9%;
    padding-top: 5%;
}

#sticky-footer {
  flex-shrink: none;
}

.navbar-color {
	background-color: #343A40;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
